{% if  Articles == blank %}
<div class="col-sm-12 contact-box grid-preloader-prototype">
    <div class="col-sm-12 text-center">
        <small class="font-bold">Nie znaleziono towarów dla wybranego filtra</small>
    </div>
</div>
{% endif %}
    {% for article in Articles %}
    {% if  article.Open_row == true %}
    <div class="row">
        {% endif %}
        <div class="col-md-{{article.Item_width}}">
            <div class="ibox">
                <div class="ibox-content product-box">
                    <!--<div class="select-check-container checkbox checkbox-primary">
                        <input class="select-check" data-val="true" id="IncludeRelizationTime" name="Compare" type="checkbox" value="{{article.Id}}">             
                    </div>-->
                    {% if  article.Favored %}
                    <label class="product-favored" title="Wyróżniony">
                        <i class="fa fa-bookmark fa-3x"></i>
                    </label>
                    {% endif %}
                    <div class="select-check-container checkbox checkbox-primary checkbox-inline m-t-xxs">
                        <input type="checkbox" id="select-article-{{article.Id}}" value="{{article.Id}}" name="select-article-{{article.Id}}" aria-hidden="true" class="select-article" data-articleid="{{article.Id}}" {% if article.Selected %} checked="checked" {% endif %}>
                        <label for="select-article-{{article.Id}}">Do porównania</label>
                    </div>
                    <div class="product-image-box">
                        <a href="/Towar/{{article.Id}}" style="color:inherit">
                        <img class="image" alt="image" {% if article.Image_id == null %} src="/Content/Assets/altArticleImage.png" {% else %} src="{{ResAddress}}Res/Img?o={{CurrentDbId}}&b={{article.Image_id}}&type=thumbnail2" {% endif %}>
                        </a>
                    </div>
                    <div class="product-desc">
                        <span class="product-price gross-price asynchronous-price-label gross" data-id="{{article.Id}}" data-offerid="{{article.Offer_id}}" data-postfix=" brutto">
                            <!-- data-offerid atrybut opcjonalny, optymalizacja wydajności-->
                            -
                        </span> 
                        <span class="product-price asynchronous-price-label" data-id="{{article.Id}}" data-offerid="{{article.Offer_id}}" data-postfix=" netto"><!-- data-offerid atrybut opcjonalny, optymalizacja wydajności-->
                            -
                        </span>                        
                        <small class="text-muted">{{article.Code}}</small>
                        <small class="text-muted">{{article.EAN}}</small>
                        <div id="trun-{{article.guid}}" class="" style="max-height:66px;">
                            <a href="/Towar/{{article.Id}}" class="product-name">{{article.Name}} </a>
                        </div>
                        <script type="text/javascript">
                            $("#trun-{{article.guid}}").dotdotdot({
                            watch: 'window',
                            wrap: 'letter'
                        });
                        </script>
                        <div class="small m-t-xs">
                            {{article.Variant}}
                        </div>
                        <div class="row m-t-xs">
                            <div class="col-md-12">
                                <div class="btn-group pull-right add-to-cart-container">
                                    <button class="btn btn-white btn-sm available-stock-state" title="Dostępne">{% if article.Quantitydisplay == null %} 0 {% else %} {{article.Quantitydisplay}} {% endif %} </button>
                                    <div class="btn btn-white btn-sm order-quantity-container">
                                        <div class="input-group">
                                            <input class="quantity add-to-cart-quantity" type="text" name="orderQuantity" placeholder="1" title="Ilość sztuk">
                                            <!--<span class="input-group-addon">{% if article.Unit != null %} {{article.Unit}} {% else %} szt. {% endif %}</span>-->
                                        </div>
                                    </div>
                                    <button class="btn btn-white btn-sm available-stock-state">{% if article.Unit != null %} {{article.Unit}} {% else %} szt. {% endif %}</button>
                                    <button class="btn btn-primary btn-sm add-to-cart" data-unit-rounding="{{article.Unitrounding}}" data-articleid="{{article.Id}}"><i class="fa fa-cart-plus"></i> Do koszyka</button>
                                    {% if article.Quantity == 0 %}
                                    <button class="btn btn-warning btn-sm add-notification" onclick="ArticleNotification({{article.Id}})" title="Powiadom o dostępności"><i class="fa fa-comment"></i></button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if  article.Close_row == true %}
    </div>
    {% endif %}
    {% endfor %}

