<div class="col-lg-3">
    <div class="ibox m-b-none m-t-md">
        <div class="ibox-title">
            <span class="label label-success float-right">{{BillingPeriodType}}</span>
            <h5>{{Name}}</h5>
        </div>
        <div class="ibox-content">            
            <label>{{LimitType}}</label> 
            <label class="pull-right">{{Value}} {{Currency2}} {% if Value != null %} netto{% endif %} </label> 
            <h1 class="no-margins">{{CalculatedLimitLeft}} <small>{{Currency}} netto</small></h1>     
            <!--<div class="stat-percent font-bold text-{{ApplicationTypeColor}}">{{LimitApplicationTypeName}}</div>-->                   
            <small>{{MainValueDescription}}</small>
            <br />
            <!--<div class="stat-percent font-bold ">{{Value}} {{Currency}}</div>-->            
        </div>
    </div>
</div>